.header {
  border-bottom: 1px solid $line-color;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header__nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__list {
  display: flex;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 314px;
  }
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__contact-info {
  display: flex;
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
  }
}

.header__contact-info-item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-top: 21px;
    }
    &:nth-child(2) {
      padding-bottom: 21px;
    }
  }
  @media screen and (min-width: 1200px) {
    // padding: 32px 0;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header__contact-info-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $first-text-color;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }
}

.header__item {
  position: relative;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $main-title-color;
  transition-property: color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.current {
  color: $accent-color;
  &::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    background: $accent-color;
    border-radius: 2px;
  }
}

.envelope {
  margin-right: 10px;
  fill: currentColor;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.smartphone {
  margin-right: 10px;
  fill: currentColor;
}
