.our-team {
  background-color: $third-bg-color;
}

.our-team__header {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $main-title-color;
}

.our-team__list {
  display: flex;
  align-items: center;
}

.our-team__item {
  background-color: $current-white-color;
  width: 270px;
  height: 428px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team__data {
  padding: 30px 32px;
}

.our-team__title {
  margin: 0 0 10px 0;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: $main-title-color;
}

.our-team__subtitle {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $first-text-color;
}

.socials {
  display: flex;
  justify-content: center;
}

.networks {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $networks-inactive;
  background: $networks-inactive-footer;
  transition-property: background-color, color;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $current-white-color;
    background-color: $accent-color;
  }
}

.networks__icon {
  fill: currentColor;
}
.socials > .networks__item:not(:last-child) {
  margin-right: 10px;
}
