.regular-clients__header {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $main-title-color;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.regular-clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -15px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.regular-clients__item {
  width: calc(100% / 2 - 30px);
  margin: 15px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    margin: 15px;
  }
}

.regular-clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid $networks-inactive;
  border-radius: 4px;
  color: $networks-inactive;
  transition-property: color, border;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.regular-clients__icon {
  fill: currentColor;
}
