.regular-clients__header {
  margin: 0 0 50px 0;
  color: $main-title-color;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.regular-clients__list {
  display: flex;
  justify-content: center;
}

.regular-clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid $networks-inactive;
  border-radius: 4px;
  color: $networks-inactive;
  transition-property: color, border;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.regular-clients__list > .regular-clients__item:not(:last-child) {
  margin-right: 30px;
}

.regular-clients__icon {
  fill: currentColor;
}

.regular-clients__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin: -15px;
  }

  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   // justify-content: center;
  //   margin: -15px;
  // }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

regular-clients__item {
  // @media screen and (max-width: 767px) {
  //   width: 100%;
  // }
  // &:not(:last-child) {
  // @media screen and (max-width: 767px) {
  //   margin-bottom: 30px;
  // }
  // }

  @media screen and (max-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    &:last-child {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
  }
}
