.special-qualities__list {
  // display: flex;
}

.special-qualities__item {
  // margin-right: 30px;
  // width: 270px;
  // &:last-child {
  //   margin-right: 0px;
  // }
  width: 100%;
}

.special-qualities__area {
  display: flex;
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $third-bg-color;
}

.special-qualities__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-title-color;
  margin-bottom: 10px;
  text-align: left;
}

.special-qualities__info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $first-text-color;
  text-align: left;
}

.special-qualities__list {
  @media screen and (max-width: 767px) {
    display: block;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.special-qualities__item {
  // @media screen and (max-width: 767px) {
  //   width: 100%;
  // }
  // &:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
  // }

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
    &:last-child {
      margin-right: 15px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin: 15px;
  }
}
