.special-qualities__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.special-qualities__item {
  margin-bottom: 30px;
  width: 100%;
  @media screen and (max-width: 767px) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

.special-qualities__area {
  display: flex;
  width: 100%;
  min-height: 120px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: $third-bg-color;
}

.special-qualities__header {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $main-title-color;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 780px) {
    text-align: left;
  }
}

.special-qualities__info {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $first-text-color;
  text-align: left;
}
