@mixin flex($display, $fd, $fw, $jc, $ai) {
  display: $display;
  flex-direction: $fd;
  flex-wrap: $fw;
  justify-content: $jc;
  align-items: $ai;
}

// for icon

@mixin transition($one, $two, $three, $duration, $function) {
  transition-property: $one, $two, $three;
  transition-duration: $duration;
  transition-timing-function: $function;
}

// for social network icons
