$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
$main-title-color: #212121;
$current-white-color: #ffffff;
$first-text-color: #757575;
$logo-color: #000000;
$accent-color: #2196f3;
$footer-contact-color: rgba(255, 255, 255, 0.6);
$hero-gradient-color: rgba(47, 48, 58, 0.4);
$hero-button-accent-color: #188ce8;
$second-bg-color: #2f303a;
$third-bg-color: #f5f4fa;
$card-title-bg-color: rgba(47, 48, 58, 0.8);
$card-bg-description-color: rgba(33, 150, 243, 0.9);
$line-color: #ececec;
$border-color: #eeeeee;
$networks-inactive: #afb1b8;
$networks-inactive-footer: rgba(255, 255, 255, 0.1);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
